@import "variables";
*{
    margin:0;
    padding: 0;
}
header{ 
   background-color: $color_fondo1;
    width: 100%;
    margin-bottom: 10px;
    img {
        width: 300px;
    }
}
main {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: $color_fondo1; 
}
.contenido_2{
    min-height: 50vh;
    color: $color_letra;
}
.contenido_3{
    color: $color_letra;
    min-height: 100vh; 
}
footer{
    margin-top: auto;
    background-color: $color_fondo2;
    width: 100%;
}
